# Lesson 3 Class Exercises: Pandas Part 1

With these class exercises we learn a few new things.  When new knowledge is introduced you'll see the icon shown on the right: 
<span style="float:right; margin-left:10px; clear:both;">![Task](../media/new_knowledge.png)</span>

## Reminder
The first checkin-in of the project is due next Tueday.  After today, you should have everything you need to know to accomplish that first part.

## Get Started
Import the Numpy and Pandas packages

In [14]:
import numpy as np
import pandas as pd

## Exercise 1: Import Iris Data
Import the Iris dataset made available to you in the last class period for the Numpy part2 exercises. Save it to a variable naemd `iris`. Print the first 5 rows and the dimensions to ensure it was read in properly.

In [3]:
iris = pd.read_csv('../data/iris.csv')
iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

Notice how much easier this was to import compared to the Numpy `genfromtxt`. We did not have to skip the headers, we did not have to specify the data type and we can have mixed data types in the same matrix.

## Exercise 2: Import Legislators Data
For portions of this notebook we will use a public dataset that contains all of the current legistators of the United States Congress. This dataset can be found [here](https://github.com/unitedstates/congress-legislators).  

Import the data directly from this URL:  https://theunitedstates.io/congress-legislators/legislators-current.csv

Save the data in a variable named `legistators`. Print the first 5 lines, and the dimensions.

In [15]:
legislators = pd.read_csv("https://theunitedstates.io/congress-legislators/legislators-current.csv")
legislators.head()

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
0,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
1,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
2,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
3,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
4,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.

## Exercise 3: Explore the Data
### Task 1
Print the column names of the legistators dataframe and explore the type of data in the data frame.

In [16]:
leg_col = legislators.columns
print(leg_col)

Index(['last_name', 'first_name', 'middle_name', 'suffix', 'nickname',
       'full_name', 'birthday', 'gender', 'type', 'state', 'district',
       'senate_class', 'party', 'url', 'address', 'phone', 'contact_form',
       'rss_url', 'twitter', 'facebook', 'youtube', 'youtube_id',
       'bioguide_id', 'thomas_id', 'opensecrets_id', 'lis_id', 'fec_ids',
       'cspan_id', 'govtrack_id', 'votesmart_id', 'ballotpedia_id',
       'washington_post_id', 'icpsr_id', 'wikipedia_id'],
      dtype='object')

### Task 2
Show the datatypes of all of the columns in the legislator data. Do all of the data types seem appropriate for the data?

In [22]:
legislators.dtypes

last_name              object
first_name             object
middle_name            object
suffix                 object
nickname               object
full_name              object
birthday               object
gender                 object
type                   object
state                  object
district              float64
senate_class          float64
party                  object
url                    object
address                object
phone                  object
contact_form           object
rss_url                object
twitter                object
facebook               object
youtube                object
youtube_id             object
bioguide_id            object
thomas_id             float64
opensecrets_id         object
lis_id                 object
fec_ids                object
cspan_id              float64
govtrack_id             int64
votesmart_id          float64
ballotpedia_id         object
washington_post_id    float64
icpsr_id              float64
wikipedia_id           object
dtype: object

Show all of the datayptes in the iris dataframe

In [20]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

### Task 3
It's always important to know where the missing values are in your data. Are there any missing values in the legislators dataframe? How many per column?  

Hint: we didn't learn how to find missing values in the lesson, but we can use the `isna()` function.

In [24]:
legislators.isna().sum()

last_name               0
first_name              0
middle_name           290
suffix                520
nickname              497
full_name               0
birthday                0
gender                  0
type                    0
state                   0
district              100
senate_class          438
party                   0
url                     0
address                 0
phone                   0
contact_form          438
rss_url               280
twitter                10
facebook              162
youtube               269
youtube_id            193
bioguide_id             0
thomas_id             206
opensecrets_id         63
lis_id                438
fec_ids                 1
cspan_id              153
govtrack_id             0
votesmart_id           58
ballotpedia_id         45
washington_post_id    538
icpsr_id               73
wikipedia_id            1
dtype: int64

How about in the iris dataframe?

In [25]:
iris.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

### Task 4
It is also important to know if you have any duplicatd rows. If you are performing statistcal analyses and you have duplicated entries they can affect the results.  So, let's find out.  Are there any duplicated rows in the legislators dataframe?  Print then number of duplicates. If there are duplicates print the rows. What function could we used to find out if we have duplicated rows?

In [29]:
legislators.duplicated().sum()

0

Do we have duplicated rows in the iris dataset? Print the number of duplicates? If there are duplicates print the rows.

In [30]:
iris.duplicated().sum()

3

In [31]:
iris[iris.duplicated()]

     sepal_length  sepal_width  petal_length  petal_width    species
34            4.9          3.1           1.5          0.1     setosa
37            4.9          3.1           1.5          0.1     setosa
142           5.8          2.7           5.1          1.9  virginica

If there are duplicated rows should we remove them or keep them?

### Task 5
It is important to also check that the range of values in our data matches expectations.  For example, if we expect to have four species in our iris data, we should check that we see four species. How many political parties should we expect in the legislators data?  If all we saw were a single part perhaps the data is incomplete.... Let's check.   You can find out how many unique values there are per column using the `nunique` function.  Try it for both the legislators and the iris data set.

In [33]:
legi_unique = legislators.nunique()
print(legi_unique)

last_name             491
first_name            323
middle_name            88
suffix                  5
nickname               32
full_name             538
birthday              530
gender                  2
type                    2
state                  56
district               54
senate_class            3
party                   3
url                   538
address               538
phone                 538
contact_form          100
rss_url               257
twitter               528
facebook              376
youtube               269
youtube_id            345
bioguide_id           538
thomas_id             332
opensecrets_id        475
lis_id                100
fec_ids               537
cspan_id              385
govtrack_id           538
votesmart_id          480
ballotpedia_id        493
washington_post_id      0
icpsr_id              465
wikipedia_id          537
dtype: int64

In [34]:
legislators['state'].unique()

array(['OH', 'WA', 'MD', 'DE', 'PA', 'CA', 'MN', 'NJ', 'VT', 'MI', 'MT',
       'RI', 'WY', 'MS', 'ME', 'TX', 'IL', 'SC', 'OK', 'KY', 'OR', 'ID',
       'NH', 'VA', 'NY', 'WV', 'AL', 'WI', 'CO', 'FL', 'GA', 'TN', 'CT',
       'MO', 'AR', 'IN', 'NC', 'LA', 'NE', 'AZ', 'IA', 'NM', 'HI', 'ND',
       'MA', 'UT', 'KS', 'AK', 'DC', 'MP', 'SD', 'NV', 'VI', 'AS', 'PR',
       'GU'], dtype=object)

In [35]:
iris.nunique()

sepal_length    35
sepal_width     23
petal_length    43
petal_width     22
species          3
dtype: int64

What do you think?  Do we see what we might expect?  Are there fields where this type of check doesn't matter? In what fields might this type of exploration matter?

Check to see if you have all of the values expected for a given field. Pick a column you know should have a set number of values and print all of the unique values in that column. Do so for both the legislator and iris datasets.

In [38]:
legislators['gender'].unique()

array(['M', 'F'], dtype=object)

In [39]:
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

## Exercise 5: Describe the data
For both the legislators and the iris data, get descriptive statistics for each numeric field.

In [43]:
legislators.describe()

,district,senate_class,thomas_id,cspan_id,govtrack_id,votesmart_id,washington_post_id,icpsr_id
count,438.000000,100.000000,332.000000,3.850000e+02,538.000000,480.000000,0.0,465.000000
mean,10.059361,2.010000,1747.445783,5.419848e+05,411688.949814,75474.483333,NaN,24256.202151
std,10.674341,0.822598,548.300825,1.484390e+06,26857.026308,62230.266744,NaN,7501.216031
min,0.000000,1.000000,91.000000,2.600000e+02,300018.000000,119.000000,NaN,14066.000000
25%,3.000000,1.000000,1626.750000,4.555200e+04,412196.750000,22487.750000,NaN,21106.000000
50%,6.000000,2.000000,1918.500000,7.971000e+04,412565.500000,52964.000000,NaN,21564.000000
75%,13.000000,3.000000,2124.500000,1.003551e+06,412765.500000,133023.500000,NaN,21972.000000
max,53.000000,3.000000,2296.000000,9.275683e+06,456858.000000,188334.000000,NaN,94659.000000

In [44]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Exercise 6: Row Index Labels
For the legislator dataframe, let's change the row labels from numerical indexes to something more recognizable.  Take a look at the columns of data, is there anything you might want to substitue as a row label?  Pick one and set the index lables. Then print the top 5 rows to see if the index labels are present.

In [50]:
legislators.index = legislators['last_name']
legislators.head()

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
last_name,,,,,,,,,,,,,,,,,,,,,
Brown,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
Cantwell,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
Cardin,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
Carper,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
Casey,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.

In [52]:
legislators.loc['Warren']

last_name                                                        Warren
first_name                                                    Elizabeth
middle_name                                                         NaN
suffix                                                              NaN
nickname                                                            NaN
full_name                                              Elizabeth Warren
birthday                                                     1949-06-22
gender                                                                F
type                                                                sen
state                                                                MA
district                                                            NaN
senate_class                                                          1
party                                                          Democrat
url                                       https://www.warren.senate.gov
address               309 Hart Senate Office Building Washington DC ...
phone                                                      202-224-4543
contact_form             https://www.warren.senate.gov/?p=email_senator
rss_url                   http://www.warren.senate.gov/rss/?p=hot_topic
twitter                                                       SenWarren
facebook                                         senatorelizabethwarren
youtube                                              senelizabethwarren
youtube_id                                     UCTH9zV8Imw09J5bOoTR18_A
bioguide_id                                                     W000817
thomas_id                                                          2182
opensecrets_id                                                N00033492
lis_id                                                             S366
fec_ids                                                       S2MA00170
cspan_id                                                    1.02302e+06
govtrack_id                                                      412542
votesmart_id                                                     141272
ballotpedia_id                                         Elizabeth Warren
washington_post_id                                                  NaN
icpsr_id                                                          41301
wikipedia_id                                           Elizabeth Warren
Name: Warren, dtype: object

## Exercise 7: Indexing & Sampling
Randomly select 15 Republicans or Democrats (your choice) from the senate.

In [66]:
legislators[(legislators['type'] == 'sen') & (legislators['party'] == 'Democrat')]

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
last_name,,,,,,,,,,,,,,,,,,,,,
Brown,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
Cantwell,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
Cardin,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
Carper,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
Casey,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.
Feinstein,Feinstein,Dianne,NaN,NaN,NaN,Dianne Feinstein,1933-06-22,F,sen,CA,...,N00007364,S221,S0CA00199,13061.0,300043,53273.0,Dianne Feinstein,NaN,49300.0,Dianne Feinstein
Klobuchar,Klobuchar,Amy,Jean,NaN,NaN,Amy Klobuchar,1960-05-25,F,sen,MN,...,N00027500,S311,S6MN00267,83701.0,412242,65092.0,Amy Klobuchar,NaN,40700.0,Amy Klobuchar
Menendez,Menendez,Robert,NaN,NaN,Bob,Robert Menendez,1954-01-01,M,sen,NJ,...,N00000699,S306,"H2NJ13075,S6NJ00289",29608.0,400272,26961.0,Bob Menendez,NaN,29373.0,Bob Menendez
Stabenow,Stabenow,Debbie,Ann,NaN,NaN,Debbie Stabenow,1950-04-29,F,sen,MI,...,N00004118,S284,"S8MI00281,H6MI08163",45451.0,300093,515.0,Debbie Stabenow,NaN,29732.0,Debbie Stabenow
Tester,Tester,Jon,NaN,NaN,NaN,Jon Tester,1956-08-21,M,sen,MT,...,N00027605,S314,S6MT00162,1020176.0,412244,20928.0,Jon Tester,NaN,40702.0,Jon Tester
Whitehouse,Whitehouse,Sheldon,NaN,NaN,NaN,Sheldon Whitehouse,1955-10-20,M,sen,RI,...,N00027533,S316,S6RI00221,92235.0,412247,2572.0,Sheldon Whitehouse,NaN,40704.0,Sheldon Whitehouse
Durbin,Durbin,Richard,J.,NaN,NaN,Richard J. Durbin,1944-11-21,M,sen,IL,...,N00004981,S253,"S6IL00151,H2IL20026",6741.0,300038,26847.0,Dick Durbin,NaN,15021.0,Dick Durbin
Merkley,Merkley,Jeff,NaN,NaN,NaN,Jeff Merkley,1956-10-24,M,sen,OR,...,N00029303,S322,S8OR00207,1029842.0,412325,23644.0,Jeff Merkley,NaN,40908.0,Jeff Merkley
Reed,Reed,John,F.,NaN,Jack,Jack Reed,1949-11-12,M,sen,RI,...,N00000362,S259,"S6RI00163,H0RI02071",24239.0,300081,27060.0,Jack Reed,NaN,29142.0,Jack Reed (Rhode Island politician)
Shaheen,Shaheen,Jeanne,NaN,NaN,NaN,Jeanne Shaheen,1947-01-28,F,sen,NH,...,N00024790,S324,S0NH00219,22850.0,412323,1663.0,Jeanne Shaheen,NaN,40906.0,Jeanne Shaheen
Warner,Warner,Mark,R.,NaN,NaN,Mark R. Warner,1954-12-15,M,sen,VA,...,N00002097,S327,"S6VA00093,P80003023",7630.0,412321,535.0,Mark Warner,NaN,40909.0,Mark Warner
Gillibrand,Gillibrand,Kirsten,E.,NaN,NaN,Kirsten E. Gillibrand,1966-12-09,F,sen,NY,...,N00027658,S331,"H6NY20167,S0NY00410",1022862.0,412223,65147.0,Kirsten Gillibrand,NaN,20735.0,Kirsten Gillibrand
Coons,Coons,Christopher,Andrew,NaN,NaN,Christopher A. Coons,1963-09-09,M,sen,DE,...,N00031820,S337,S0DE00092,9269028.0,412390,122834.0,Chris Coons,NaN,40916.0,Chris Coons
Manchin,Manchin,Joe,NaN,III,NaN,"Joe Manchin, III",1947-08-24,M,sen,WV,...,N00032838,S338,S0WV00090,62864.0,412391,7547.0,Joe Manchin III,NaN,40915.0,Joe Manchin
Baldwin,Baldwin,Tammy,NaN,NaN,NaN,Tammy Baldwin,1962-02-11,F,sen,WI,...,N00004367,S354,"H8WI00018,S2WI00219",57884.0,400013,3470.0,Tammy Baldwin,NaN,29940.0,Tammy Baldwin
Bennet,Bennet,Michael,F.,NaN,NaN,Michael F. Bennet,1964-11-28,M,sen,CO,...,N00030608,S330,S0CO00211,1031622.0,412330,110942.0,Michael Bennet,NaN,40910.0,Michael Bennet
Blumenthal,Blumenthal,Richard,NaN,NaN,NaN,Richard Blumenthal,1946-02-13,M,sen,CT,...,N00031685,S341,S0CT00177,21799.0,412490,1568.0,Richard Blumenthal,NaN,41101.0,Richard Blumenthal
Heinrich,Heinrich,Martin,NaN,NaN,NaN,Martin Heinrich,1971-10-17,M,sen,NM,...,N00029835,S359,"H8NM01224,S2NM00088",1030686.0,412281,74517.0,Martin Heinrich,NaN,20930.0,Martin Heinrich
Hirono,Hirono,Mazie,K.,NaN,NaN,Mazie K. Hirono,1947-11-03,F,sen,HI,...,N00028139,S361,"H6HI02251,S2HI00106",91216.0,412200,1677.0,Mazie K. Hirono,NaN,20713.0,Mazie Hirono
Leahy,Leahy,Patrick,J.,NaN,NaN,Patrick J. Leahy,1940-03-31,M,sen,VT,...,N00009918,S057,S4VT00017,1552.0,300065,53353.0,Patrick Leahy,NaN,14307.0,Patrick Leahy
Luján,Luján,Ben,Ray,NaN,NaN,Ben Ray Luján,1972-06-07,M,sen,NM,...,N00029562,S409,"H8NM03196,S0NM00058",1031351.0,412293,102842.0,Ben Ray Luján,NaN,20932.0,Ben Ray Luján
Markey,Markey,Edward,J.,NaN,Ed,Edward J. Markey,1946-07-11,M,sen,MA,...,N00000270,S369,"H6MA07101,S4MA00028",260.0,400253,26900.0,Ed Markey,NaN,14435.0,Ed Markey
Murphy,Murphy,Christopher,S.,NaN,NaN,Christopher Murphy,1973-08-03,M,sen,CT,...,N00027566,S364,"H6CT05124,S2CT00132",1021270.0,412194,17189.0,Christopher S. Murphy,NaN,20707.0,Chris Murphy
Murray,Murray,Patty,NaN,NaN,NaN,Patty Murray,1950-10-11,F,sen,WA,...,N00007876,S229,S2WA00189,25277.0,300076,53358.0,Patty Murray,NaN,49308.0,Patty Murray
Peters,Peters,Gary,C.,NaN,NaN,Gary C. Peters,1958-12-01,M,sen,MI,...,N00029277,S380,"H8MI09068,S4MI00355",50199.0,412305,8749.0,Gary Peters,NaN,20923.0,Gary Peters
Schumer,Schumer,Charles,E.,NaN,Chuck,Charles E. Schumer,1950-11-23,M,sen,NY,...,N00001093,S270,"S8NY00082,H0NY16010",5929.0,300087,26976.0,Chuck Schumer,NaN,14858.0,Chuck Schumer
Van Hollen,Van Hollen,Chris,NaN,NaN,NaN,Chris Van Hollen,1959-01-10,M,sen,MD,...,N00013820,S390,"H2MD08126,S6MD03441",20756.0,400415,6098.0,Chris Van Hollen,NaN,20330.0,Chris Van Hollen
Wyden,Wyden,Ron,NaN,NaN,NaN,Ron Wyden,1949-05-03,M,sen,OR,...,N00007724,S247,"S6OR00110,H0OR03026",1962.0,300100,27036.0,Ron Wyden,NaN,14871.0,Ron Wyden
Schatz,Schatz,Brian,Emanuel,NaN,NaN,Brian Schatz,1972-10-20,M,sen,HI,...,N00028138,S353,"S4HI00136,H6HI02244",87784.0,412507,17852.0,Brian E. Schatz,NaN,41112.0,Brian Schatz
Sinema,Sinema,Kyrsten,NaN,NaN,NaN,Kyrsten Sinema,1976-07-12,F,sen,AZ,...,N00033983,S403,"H2AZ09019,S8AZ00197",68489.0,412509,28338.0,Kyrsten Sinema,NaN,21300.0,Kyrsten Sinema
Duckworth,Duckworth,Tammy,NaN,NaN,NaN,Tammy Duckworth,1968-03-12,F,sen,IL,...,N00027860,S386,"H6IL06141,S6IL00292",94484.0,412533,57442.0,Tammy Duckworth,NaN,21325.0,Tammy Duckworth
Warren,Warren,Elizabeth,NaN,NaN,NaN,Elizabeth Warren,1949-06-22,F,sen,MA,...,N00033492,S366,S2MA00170,1023023.0,412542,141272.0,Elizabeth Warren,NaN,41301.0,Elizabeth Warren
Kaine,Kaine,Timothy,NaN,NaN,Tim,Tim Kaine,1958-02-26,M,sen,VA,...,N00033177,S362,S2VA00142,49219.0,412582,50772.0,Tim Kaine,NaN,41305.0,Tim Kaine
Booker,Booker,Cory,Anthony,NaN,NaN,Cory A. Booker,1969-04-27,M,sen,NJ,...,N00035267,S370,S4NJ00185,84679.0,412598,76151.0,Cory Booker,NaN,41308.0,Cory Booker
Hassan,Hassan,Margaret,Wood,NaN,Maggie,Margaret Wood Hassan,1958-02-27,F,sen,NH,...,N00038397,S388,S6NH00091,67481.0,412680,42552.0,Maggie Hassan,NaN,41702.0,Maggie Hassan
Cortez Masto,Cortez Masto,Catherine,NaN,NaN,NaN,Catherine Cortez Masto,1964-03-29,F,sen,NV,...,N00037161,S385,S6NV00200,105698.0,412681,69579.0,Catherine Cortez Masto,NaN,41700.0,Catherine Cortez Masto
Rosen,Rosen,Jacky,NaN,NaN,NaN,Jacky Rosen,1957-08-02,F,sen,NV,...,N00038734,S402,"H6NV03139,S8NV00156",104738.0,412715,169471.0,NaN,NaN,21743.0,Jacky Rosen
Smith,Smith,Tina,Flint,NaN,NaN,Tina Smith,1958-03-04,F,sen,MN,...,N00042353,S394,S8MN00578,111313.0,412742,152968.0,Tina Smith,NaN,41706.0,Tina Smith
Kelly,Kelly,Mark,NaN,NaN,NaN,Mark Kelly,1964-02-21,M,sen,AZ,...,N00044223,S406,S0AZ00350,NaN,456794,NaN,Mark Kelly,NaN,NaN,Mark Kelly
Hickenlooper,Hickenlooper,John,Wright,NaN,NaN,John W. Hickenlooper,1952-02-07,M,sen,CO,...,NaN,S408,S0CO00575,NaN,456797,NaN,John Hickenlooper,NaN,NaN,John Hickenlooper
Padilla,Padilla,Alejandro,NaN,NaN,Alex,Alex Padilla,1973-03-22,M,sen,CA,...,NaN,S413,NaN,NaN,456856,NaN,Alex Padilla,NaN,NaN,Alex Padilla
Ossoff,Ossoff,Jon,NaN,NaN,NaN,Jon Ossoff,1987-02-16,M,sen,GA,...,NaN,S414,"H8GA06195,S8GA00180",NaN,456857,NaN,Jon Ossoff,NaN,NaN,Jon Ossoff
Warnock,Warnock,Raphael,Gamaliel,NaN,NaN,Raphael G. Warnock,1969-07-23,M,sen,GA,...,NaN,S415,S0GA00559,NaN,456858,NaN,Raphael Warnock,NaN,NaN,Raphael Warnock

## Exercise 8: Dates
<span style="float:right; margin-left:10px; clear:both;">![Task](../media/new_knowledge.png)</span>
Let's learn something not covered in the Pandas 1 lesson regarding dates.  We have the birthdates for each legislator, but they are in a String format.  Let's convert it to a datetime object. We can do this using the `pd.to_datetime` function.  Take a look at the online documentation to see how to use this function. Convert the `legislators['birthday']` column to a `datetime` object. Confirm that the column is now a datetime object.

In [68]:
legislators['birthday'].dtype

dtype('O')

In [71]:
birthdays = pd.to_datetime(legislators['birthday'])
birthdays

last_name
Brown        1952-11-09
Cantwell     1958-10-13
Cardin       1943-10-05
Carper       1947-01-23
Casey        1960-04-13
                ...
Fitzgerald   1963-11-16
Padilla      1973-03-22
Ossoff       1987-02-16
Warnock      1969-07-23
Tenney       1961-02-04
Name: birthday, Length: 538, dtype: datetime64[ns]

Now that we have the birthdays in a `datetime` object, how can we calculate their age?  Hint: we can use the `pd.Timestamp.now()` function to get a datetime object for this moment. Let's subtract the current time from their birthdays.  Print the top 5 results.

In [80]:
(pd.Timestamp.now() - birthdays) / 365

last_name
Brown        68 days 08:46:47.339367980
Cantwell     62 days 10:29:21.859915926
Cardin       77 days 11:16:42.407861131
Carper       74 days 03:58:47.339367980
Casey        60 days 22:27:23.503751542
                        ...
Fitzgerald   57 days 08:11:16.928409076
Padilla      47 days 23:42:21.037998117
Ossoff       34 days 01:44:39.120189898
Warnock      51 days 15:41:02.133888528
Tenney       60 days 02:55:39.942107706
Name: birthday, Length: 538, dtype: timedelta64[ns]

Notice that the result of subtracting two `datetime` objects is a `timedelta` object. It contains the difference between two time values. The value we calculated therefore gives us the number of days old.  However, we want the number of years. 

To get the number of years we can divide the number of days old by the number of days in a year (i.e. 365). However, we need to extract out the days from the `datetime` object. To get this, the Pandas Series object has an accessor for extracting components of `datetime` objects and `timedelta` objects. It's named `dt` and it works for both.  You can learn more about the attributes of this accessor at the [datetime objects page](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#datetime-properties) and the [timedelta objects page](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#timedelta-properties) by clicking.  Take a moment to look over that documentation.

How would then extract the days in order to divide by 365 to get the years?  Once you've figurd it out. Do so, convert the years to an integer and add the resulting series back into the legislator dataframe as a new column named `age`.  Hint: use the [astype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.astype.html) function of Pandas to convert the type.

Next, find the youngest, oldest and average age of all legislators

Who are the oldest and youngest legislators?

## Exercise 9:  Indexing with loc and iloc
Reindex the legislators dataframe using the state, and find all legislators from your home state using the `loc` accessor.

Use the loc command to find all legislators from South Carolina and North Carolina

Use the loc command to retrieve all legislators from California, Oregon and Washington and only get their full name, state, party and age

## Exercise 10: Economics Data Example
### Task 1: Explore the data
Import the data from the [Lectures in Quantiatives Economics](https://github.com/QuantEcon/lecture-source-py) regarding minimum wages in countries round the world in US Dollars.  You can view the data [here](https://github.com/QuantEcon/lecture-source-py/blob/master/source/_static/lecture_specific/pandas_panel/realwage.csv) and you can access the data file here: https://raw.githubusercontent.com/QuantEcon/lecture-source-py/master/source/_static/lecture_specific/pandas_panel/realwage.csv.  Then perform the following

Import and print the first 5 lines of data to explore what is there.

Find the shape of the data.

List the column names.

Identify the data types. Do they match what you would expect?

Identify columns with missing values.

Identify if there are duplicated entires.

How many unique values per row are there.  Do these look reasonable for the data type and what you know about what is stored in the column?

### Task 2: Explore More
Retrieve descriptive statistics for the data.

Identify all of the countries listed in the data.

Convert the time column to a datetime object.

Identify the time points that were used for data collection. How many years of data collection were there? What time of year were the data collected?

Because we only have one data point collected per year per country, simplify this by adding a new column with just the year.  Print the first 5 rows to confirm the column was added.

There are two pay periods.  Retrieve them in a list of just the two strings

### Task 3: Clean the data
We have no duplicates in this data so we do not need to consider removing those, but we do have missing values in the `value` column. Lets remove those.  Check the dimensions afterwards to make sure they rows with missing values are gone.

### Task 4:  Indexing
Use boolean indexing to retrieve the rows of annual salary in United States

Do we have enough data to calculate descriptive statistics for annual salary in the United States in 2016?

Use loc to calculate descriptive statistics for the hourly salary in the United States and then again separately for Ireland. Hint: you will have to set row indexes.

Now do the same for Annual salary