# Lesson 3 Class Exercises: Pandas Part 1

With these class exercises we learn a few new things.  When new knowledge is introduced you'll see the icon shown on the right: 
<span style="float:right; margin-left:10px; clear:both;">![Task](../media/new_knowledge.png)</span>

## Reminder
The first checkin-in of the project is due next Tueday.  After today, you should have everything you need to know to accomplish that first part.

## Get Started
Import the Numpy and Pandas packages

In [3]:
import numpy as np
import pandas as pd

## Exercise 1: Import Iris Data
Import the Iris dataset made available to you in the last class period for the Numpy part2 exercises. Save it to a variable naemd `iris`. Print the first 5 rows and the dimensions to ensure it was read in properly.

In [6]:
iris = pd.read_csv('../../data/iris.csv')
iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

Notice how much easier this was to import compared to the Numpy `genfromtxt`. We did not have to skip the headers, we did not have to specify the data type and we can have mixed data types in the same matrix.

## Exercise 2: Import Legislators Data
For portions of this notebook we will use a public dataset that contains all of the current legistators of the United States Congress. This dataset can be found [here](https://github.com/unitedstates/congress-legislators).  

Import the data directly from this URL:  https://theunitedstates.io/congress-legislators/legislators-current.csv

Save the data in a variable named `legislators`. Print the first 5 lines, and the dimensions. You can get the dimensions of the dataframe using the `.shape` member variable.

In [7]:
legislators = pd.read_csv("https://theunitedstates.io/congress-legislators/legislators-current.csv")
legislators.head()

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
0,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
1,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
2,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
3,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
4,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.

## Exercise 3: Explore the Data
### Task 1
Print the column names of the legistators dataframe and explore the type of data in the data frame.

In [8]:
legislators.columns

Index(['last_name', 'first_name', 'middle_name', 'suffix', 'nickname',
       'full_name', 'birthday', 'gender', 'type', 'state', 'district',
       'senate_class', 'party', 'url', 'address', 'phone', 'contact_form',
       'rss_url', 'twitter', 'facebook', 'youtube', 'youtube_id',
       'bioguide_id', 'thomas_id', 'opensecrets_id', 'lis_id', 'fec_ids',
       'cspan_id', 'govtrack_id', 'votesmart_id', 'ballotpedia_id',
       'washington_post_id', 'icpsr_id', 'wikipedia_id'],
      dtype='object')

### Task 2
Show the data types of all of the columns in the legislator data. To do this, use the `.dtypes` member variable. Do all of the data types seem appropriate for the data?

In [9]:
legislators.dtypes

last_name              object
first_name             object
middle_name            object
suffix                 object
nickname               object
full_name              object
birthday               object
gender                 object
type                   object
state                  object
district              float64
senate_class          float64
party                  object
url                    object
address                object
phone                  object
contact_form           object
rss_url                object
twitter                object
facebook               object
youtube                object
youtube_id             object
bioguide_id            object
thomas_id             float64
opensecrets_id         object
lis_id                 object
fec_ids                object
cspan_id              float64
govtrack_id             int64
votesmart_id          float64
ballotpedia_id         object
washington_post_id    float64
icpsr_id              float64
wikipedia_id           object
dtype: object

Show all of the data types in the iris dataframe. To do this, use the `.dtypes` member variable.

In [10]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

### Task 3
It's always important to know where the missing values are in your data. Are there any missing values in the legislators dataframe? How many per column?  

Hint: we didn't learn how to find missing values in the lesson, but we can use the `isna()` function.

In [11]:
legislators.isna().sum()

last_name               0
first_name              0
middle_name           290
suffix                519
nickname              496
full_name               0
birthday                0
gender                  0
type                    0
state                   0
district              100
senate_class          437
party                   0
url                     0
address                 0
phone                   0
contact_form          437
rss_url               280
twitter                10
facebook              162
youtube               269
youtube_id            193
bioguide_id             0
thomas_id             206
opensecrets_id         63
lis_id                437
fec_ids                 1
cspan_id              153
govtrack_id             0
votesmart_id           58
ballotpedia_id         45
washington_post_id    537
icpsr_id               73
wikipedia_id            1
dtype: int64

How about in the iris dataframe?

In [12]:
iris.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

### Task 4
It is also important to know if you have any duplicated rows. If you are performing statistcal analyses and you have duplicated entries they can affect the results.  So, let's find out.  Are there any duplicated rows in the legislators dataframe?  Print then number of duplicates. If there are duplicates print the rows. What function could we used to find out if we have duplicated rows?

In [13]:
legislators.duplicated().sum()

0

Do we have duplicated rows in the iris dataset? Print the number of duplicates? If there are duplicates print the rows.

In [15]:
iris.duplicated().sum()

3

In [16]:
iris[iris.duplicated()]

     sepal_length  sepal_width  petal_length  petal_width    species
34            4.9          3.1           1.5          0.1     setosa
37            4.9          3.1           1.5          0.1     setosa
142           5.8          2.7           5.1          1.9  virginica

If there are duplicated rows should we remove them or keep them?

### Task 5
It is important to also check that the range of values in our data matches expectations.  For example, if we expect to have three species in our iris data, we should check that we see three species. How many political parties should we expect in the legislators data?  If we saw not what we expect perhaps the data is incomplete.... Let's check.   You can find out how many unique values there are per column using the `.nunique()` function.  Try it for both the legislators and the iris data set.

In [17]:
legislators.nunique()

last_name             490
first_name            322
middle_name            88
suffix                  5
nickname               32
full_name             537
birthday              529
gender                  2
type                    2
state                  56
district               54
senate_class            3
party                   3
url                   537
address               537
phone                 537
contact_form          100
rss_url               256
twitter               527
facebook              375
youtube               268
youtube_id            344
bioguide_id           537
thomas_id             331
opensecrets_id        474
lis_id                100
fec_ids               536
cspan_id              384
govtrack_id           537
votesmart_id          479
ballotpedia_id        492
washington_post_id      0
icpsr_id              464
wikipedia_id          536
dtype: int64

In [18]:
legislators['state'].unique()

array(['OH', 'WA', 'MD', 'DE', 'PA', 'CA', 'MN', 'NJ', 'VT', 'MI', 'MT',
       'RI', 'WY', 'MS', 'ME', 'TX', 'IL', 'SC', 'OK', 'KY', 'OR', 'ID',
       'NH', 'VA', 'NY', 'WV', 'AL', 'WI', 'CO', 'FL', 'GA', 'TN', 'CT',
       'MO', 'AR', 'IN', 'NC', 'LA', 'NE', 'AZ', 'IA', 'NM', 'HI', 'ND',
       'MA', 'UT', 'KS', 'AK', 'DC', 'MP', 'SD', 'NV', 'VI', 'AS', 'PR',
       'GU'], dtype=object)

In [19]:
iris.nunique()

sepal_length    35
sepal_width     23
petal_length    43
petal_width     22
species          3
dtype: int64

What do you think?  Do we see what we might expect?  Are there fields where this type of check doesn't matter? In what fields might this type of exploration matter?

Check to see if you have all of the values expected for a given field. Pick a column you know should have a set number of values and print all of the unique values in that column. Do so for both the legislator and iris datasets.

In [20]:
legislators['gender'].unique()

array(['M', 'F'], dtype=object)

In [21]:
iris['sepal_length'].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

## Exercise 5: Describe the data
For both the legislators and the iris data, get descriptive statistics for each numeric field.

In [22]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [23]:
legislators.describe()

,district,senate_class,thomas_id,cspan_id,govtrack_id,votesmart_id,washington_post_id,icpsr_id
count,437.000000,100.000000,331.000000,3.840000e+02,537.000000,479.000000,0.0,464.000000
mean,10.057208,2.010000,1747.000000,5.407115e+05,411687.761639,75401.068894,NaN,24263.346983
std,10.686480,0.822598,549.070697,1.486116e+06,26882.053677,62274.515870,NaN,7507.728202
min,0.000000,1.000000,91.000000,2.600000e+02,300018.000000,119.000000,NaN,14066.000000
25%,3.000000,1.000000,1618.500000,4.554975e+04,412196.000000,22465.500000,NaN,21107.500000
50%,6.000000,2.000000,1922.000000,7.970400e+04,412566.000000,52662.000000,NaN,21564.500000
75%,13.000000,3.000000,2125.000000,1.002813e+06,412766.000000,133665.000000,NaN,21972.250000
max,53.000000,3.000000,2296.000000,9.275683e+06,456858.000000,188334.000000,NaN,94659.000000

## Exercise 6: Row Index Labels
For the legislator dataframe, let's change the row labels from numerical indexes to something more recognizable.  Take a look at the columns of data, is there anything you might want to substitue as a row label?  Pick one and set the index lables. Then print the top 5 rows to see if the index labels are present.

In [24]:
legislators.index = legislators['last_name']
legislators.head()

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
last_name,,,,,,,,,,,,,,,,,,,,,
Brown,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
Cantwell,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
Cardin,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
Carper,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
Casey,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.

In [25]:
legislators.loc['Graham']

last_name                                                        Graham
first_name                                                      Lindsey
middle_name                                                          O.
suffix                                                              NaN
nickname                                                            NaN
full_name                                                Lindsey Graham
birthday                                                     1955-07-09
gender                                                                M
type                                                                sen
state                                                                SC
district                                                            NaN
senate_class                                                          2
party                                                        Republican
url                               https://www.lgraham.senate.gov/public
address               290 Russell Senate Office Building Washington ...
phone                                                      202-224-5972
contact_form          https://www.lgraham.senate.gov/public/index.cf...
rss_url               http://www.lgraham.senate.gov/public/index.cfm...
twitter                                                      GrahamBlog
facebook                                         USSenatorLindseyGraham
youtube                                              USSenLindseyGraham
youtube_id                                     UClLGZMA5Ei2Z8fR1PLEx6yQ
bioguide_id                                                     G000359
thomas_id                                                           452
opensecrets_id                                                N00009975
lis_id                                                             S293
fec_ids                                             S0SC00149,H4SC03087
cspan_id                                                          36782
govtrack_id                                                      300047
votesmart_id                                                      21992
ballotpedia_id                                           Lindsey Graham
washington_post_id                                                  NaN
icpsr_id                                                          29566
wikipedia_id                                             Lindsey Graham
Name: Graham, dtype: object

## Exercise 7: Indexing & Sampling
Randomly select 15 Republicans or Democrats (your choice) from the senate.

In [27]:
legislators[(legislators['type'] == 'sen') & 
            (legislators['party'] == 'Democrat')].sample(15)

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
last_name,,,,,,,,,,,,,,,,,,,,,
Casey,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.
Schumer,Schumer,Charles,E.,NaN,Chuck,Charles E. Schumer,1950-11-23,M,sen,NY,...,N00001093,S270,"S8NY00082,H0NY16010",5929.0,300087,26976.0,Chuck Schumer,NaN,14858.0,Chuck Schumer
Merkley,Merkley,Jeff,NaN,NaN,NaN,Jeff Merkley,1956-10-24,M,sen,OR,...,N00029303,S322,S8OR00207,1029842.0,412325,23644.0,Jeff Merkley,NaN,40908.0,Jeff Merkley
Blumenthal,Blumenthal,Richard,NaN,NaN,NaN,Richard Blumenthal,1946-02-13,M,sen,CT,...,N00031685,S341,S0CT00177,21799.0,412490,1568.0,Richard Blumenthal,NaN,41101.0,Richard Blumenthal
Duckworth,Duckworth,Tammy,NaN,NaN,NaN,Tammy Duckworth,1968-03-12,F,sen,IL,...,N00027860,S386,"H6IL06141,S6IL00292",94484.0,412533,57442.0,Tammy Duckworth,NaN,21325.0,Tammy Duckworth
Leahy,Leahy,Patrick,J.,NaN,NaN,Patrick J. Leahy,1940-03-31,M,sen,VT,...,N00009918,S057,S4VT00017,1552.0,300065,53353.0,Patrick Leahy,NaN,14307.0,Patrick Leahy
Cardin,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
Feinstein,Feinstein,Dianne,NaN,NaN,NaN,Dianne Feinstein,1933-06-22,F,sen,CA,...,N00007364,S221,S0CA00199,13061.0,300043,53273.0,Dianne Feinstein,NaN,49300.0,Dianne Feinstein
Schatz,Schatz,Brian,Emanuel,NaN,NaN,Brian Schatz,1972-10-20,M,sen,HI,...,N00028138,S353,"S4HI00136,H6HI02244",87784.0,412507,17852.0,Brian E. Schatz,NaN,41112.0,Brian Schatz
Padilla,Padilla,Alejandro,NaN,NaN,Alex,Alex Padilla,1973-03-22,M,sen,CA,...,NaN,S413,NaN,NaN,456856,NaN,Alex Padilla,NaN,NaN,Alex Padilla
Cantwell,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
Kelly,Kelly,Mark,NaN,NaN,NaN,Mark Kelly,1964-02-21,M,sen,AZ,...,N00044223,S406,S0AZ00350,NaN,456794,NaN,Mark Kelly,NaN,NaN,Mark Kelly
Baldwin,Baldwin,Tammy,NaN,NaN,NaN,Tammy Baldwin,1962-02-11,F,sen,WI,...,N00004367,S354,"H8WI00018,S2WI00219",57884.0,400013,3470.0,Tammy Baldwin,NaN,29940.0,Tammy Baldwin
Luján,Luján,Ben,Ray,NaN,NaN,Ben Ray Luján,1972-06-07,M,sen,NM,...,N00029562,S409,"H8NM03196,S0NM00058",1031351.0,412293,102842.0,Ben Ray Luján,NaN,20932.0,Ben Ray Luján
Hassan,Hassan,Margaret,Wood,NaN,Maggie,Margaret Wood Hassan,1958-02-27,F,sen,NH,...,N00038397,S388,S6NH00091,67481.0,412680,42552.0,Maggie Hassan,NaN,41702.0,Maggie Hassan

## Exercise 8: Dates
<span style="float:right; margin-left:10px; clear:both;">![Task](../media/new_knowledge.png)</span>
Let's learn something not covered in the Pandas 1 lesson regarding dates.  We have the birthdates for each legislator, but they are in a String format.  Let's convert it to a datetime object. We can do this using the `pd.to_datetime` function.  Take a look at the online documentation to see how to use this function. Convert the `legislators['birthday']` column to a `datetime` object. Confirm that the column is now a datetime object.

In [28]:
legislators['birthday'] = pd.to_datetime(legislators['birthday'])
legislators['birthday'].head()

last_name
Brown      1952-11-09
Cantwell   1958-10-13
Cardin     1943-10-05
Carper     1947-01-23
Casey      1960-04-13
Name: birthday, dtype: datetime64[ns]

Now that we have the birthdays in a `datetime` object, how can we calculate their age?  Hint: we can use the `pd.Timestamp.now()` function to get a datetime object for this moment. Let's subtract the current time from their birthdays.  Print the top 5 results.

In [41]:
(pd.Timestamp.now() - legislators['birthday']).head()

last_name
Brown      24964 days 11:02:09.308895
Cantwell   22800 days 11:02:09.308895
Cardin     28287 days 11:02:09.308895
Carper     27081 days 11:02:09.308895
Casey      22252 days 11:02:09.308895
Name: birthday, dtype: timedelta64[ns]

Notice that the result of subtracting two `datetime` objects is a `timedelta` object. It contains the difference between two time values. The value we calculated therefore gives us the number of days old.  However, we want the number of years. 

To get the number of years we can divide the number of days old by the number of days in a year (i.e. 365). However, we need to extract out the days from the `datetime` object. To get this, the Pandas Series object has an accessor for extracting components of `datetime` objects and `timedelta` objects. It's named `dt` and it works for both.  You can learn more about the attributes of this accessor at the [datetime objects page](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#datetime-properties) and the [timedelta objects page](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#timedelta-properties) by clicking.  Take a moment to look over that documentation.

How would then extract the days in order to divide by 365 to get the years?  Once you've figurd it out. Do so, convert the years to an integer and add the resulting series back into the legislator dataframe as a new column named `age`.  Hint: use the [astype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.astype.html) function of Pandas to convert the type.

In [ ]:
legislators['age']=((pd.Timestamp.now() - legislators['birthday']).dt.days /365).astype('int')

Next, find the youngest, oldest and average age of all legislators

In [43]:
legislators['age'].describe()

count    537.000000
mean      58.981378
std       11.953721
min       25.000000
25%       50.000000
50%       60.000000
75%       68.000000
max       87.000000
Name: age, dtype: float64

Who are the oldest and youngest legislators?

In [54]:
legislators[(legislators['age'] == legislators['age'].min())]

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id,age
last_name,,,,,,,,,,,,,,,,,,,,,
Cawthorn,Cawthorn,David,NaN,NaN,Madison,Madison Cawthorn,1995-08-01,M,rep,NC,...,NaN,H0NC11233,NaN,456833,NaN,Madison Cawthorn,NaN,NaN,Madison Cawthorn,25

In [55]:
legislators[(legislators['age'] == legislators['age'].max())]

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id,age
last_name,,,,,,,,,,,,,,,,,,,,,
Feinstein,Feinstein,Dianne,NaN,NaN,NaN,Dianne Feinstein,1933-06-22,F,sen,CA,...,S221,S0CA00199,13061.0,300043,53273.0,Dianne Feinstein,NaN,49300.0,Dianne Feinstein,87
Grassley,Grassley,Charles,E.,NaN,Chuck,Chuck Grassley,1933-09-17,M,sen,IA,...,S153,S0IA00028,1167.0,300048,53293.0,Chuck Grassley,NaN,14226.0,Chuck Grassley,87
Young,Young,Don,E.,NaN,NaN,Don Young,1933-06-09,M,rep,AK,...,NaN,H6AK00045,1897.0,400440,26717.0,Don Young,NaN,14066.0,Don Young,87

## Exercise 9:  Indexing with loc and iloc
Reindex the legislators dataframe using the state, and find all legislators from a state of your choice using the `loc` accessor.

In [61]:
legislators.index = legislators['state']
legislators.loc['NY']

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id,age
state,,,,,,,,,,,,,,,,,,,,,
NY,Gillibrand,Kirsten,E.,NaN,NaN,Kirsten E. Gillibrand,1966-12-09,F,sen,NY,...,S331,"H6NY20167,S0NY00410",1022862.0,412223,65147.0,Kirsten Gillibrand,NaN,20735.0,Kirsten Gillibrand,54
NY,Clarke,Yvette,D.,NaN,NaN,Yvette D. Clarke,1964-11-21,F,rep,NY,...,NaN,H4NY11138,1022875.0,412221,44741.0,Yvette D. Clarke,NaN,20733.0,Yvette Clarke,56
NY,Higgins,Brian,M.,NaN,NaN,Brian Higgins,1959-10-06,M,rep,NY,...,NaN,H4NY27076,1013050.0,400641,23127.0,Brian Higgins,NaN,20519.0,Brian Higgins,61
NY,Maloney,Carolyn,B.,NaN,NaN,Carolyn B. Maloney,1946-02-19,F,rep,NY,...,NaN,H2NY14037,26162.0,400251,26978.0,Carolyn B. Maloney,NaN,29379.0,Carolyn Maloney,75
NY,Meeks,Gregory,W.,NaN,NaN,Gregory W. Meeks,1953-09-25,M,rep,NY,...,NaN,H8NY06048,53469.0,400271,4360.0,Gregory Meeks,NaN,29776.0,Gregory Meeks,67
NY,Nadler,Jerrold,L.,NaN,NaN,Jerrold Nadler,1947-06-13,M,rep,NY,...,NaN,H2NY17071,26159.0,400289,26980.0,Jerrold Nadler,NaN,29377.0,Jerry Nadler,73
NY,Reed,Tom,W.,NaN,NaN,Tom Reed,1971-11-18,M,rep,NY,...,NaN,H0NY29054,623468.0,412393,127046.0,Tom Reed (New York),NaN,21101.0,Tom Reed (politician),49
NY,Schumer,Charles,E.,NaN,Chuck,Charles E. Schumer,1950-11-23,M,sen,NY,...,S270,"S8NY00082,H0NY16010",5929.0,300087,26976.0,Chuck Schumer,NaN,14858.0,Chuck Schumer,70
NY,Tonko,Paul,NaN,NaN,NaN,Paul Tonko,1949-06-18,M,rep,NY,...,NaN,H8NY21203,1031353.0,412319,4403.0,Paul Tonko,NaN,20934.0,Paul Tonko,71
NY,Velázquez,Nydia,M.,NaN,NaN,Nydia M. Velázquez,1953-03-28,F,rep,NY,...,NaN,H2NY00010,26160.0,400416,26975.0,Nydia Velazquez,NaN,29378.0,Nydia Velázquez,68
NY,Meng,Grace,NaN,NaN,NaN,Grace Meng,1975-10-01,F,rep,NY,...,NaN,H2NY06116,68411.0,412560,69157.0,Grace Meng,NaN,21342.0,Grace Meng,45
NY,Jeffries,Hakeem,S.,NaN,NaN,Hakeem S. Jeffries,1970-08-04,M,rep,NY,...,NaN,H2NY10092,79612.0,412561,55285.0,Hakeem Jeffries,NaN,21343.0,Hakeem Jeffries,50
NY,Maloney,Sean,Patrick,NaN,NaN,Sean Patrick Maloney,1966-07-30,M,rep,NY,...,NaN,H2NY22139,79760.0,412562,139760.0,Sean Maloney,NaN,21344.0,Sean Patrick Maloney,54
NY,Zeldin,Lee,M.,NaN,NaN,Lee M. Zeldin,1980-01-30,M,rep,NY,...,NaN,H8NY01148,61616.0,412646,110252.0,Lee Zeldin,NaN,21539.0,Lee Zeldin,41
NY,Rice,Kathleen,M.,NaN,NaN,Kathleen M. Rice,1965-02-15,F,rep,NY,...,NaN,H4NY04075,76332.0,412647,127653.0,Kathleen Rice,NaN,21540.0,Kathleen Rice,56
NY,Stefanik,Elise,M.,NaN,NaN,Elise M. Stefanik,1984-07-02,F,rep,NY,...,NaN,H4NY21079,76364.0,412648,152539.0,Elise Stefanik,NaN,21541.0,Elise Stefanik,36
NY,Katko,John,NaN,NaN,NaN,John Katko,1962-11-09,M,rep,NY,...,NaN,H4NY24073,76367.0,412649,152546.0,John Katko,NaN,21542.0,John Katko,58
NY,Suozzi,Thomas,R.,NaN,NaN,Thomas R. Suozzi,1962-08-31,M,rep,NY,...,NaN,H6NY03247,104747.0,412717,92111.0,Tom Suozzi,NaN,21747.0,Thomas Suozzi,58
NY,Espaillat,Adriano,NaN,NaN,NaN,Adriano Espaillat,1954-09-27,M,rep,NY,...,NaN,H2NY13096,68413.0,412718,14379.0,Adriano Espaillat,NaN,21715.0,Adriano Espaillat,66
NY,Morelle,Joseph,D.,NaN,NaN,Joseph D. Morelle,1957-04-29,M,rep,NY,...,NaN,H8NY25105,NaN,412749,4362.0,Joseph Morelle,NaN,21761.0,Joseph Morelle,63
NY,Ocasio-Cortez,Alexandria,NaN,NaN,NaN,Alexandria Ocasio-Cortez,1989-10-13,F,rep,NY,...,NaN,H8NY15148,NaN,412804,180416.0,Alexandria Ocasio-Cortez,NaN,21949.0,Alexandria Ocasio-Cortez,31
NY,Delgado,Antonio,NaN,NaN,NaN,Antonio Delgado,1977-01-19,M,rep,NY,...,NaN,H8NY19181,NaN,412805,180313.0,Antonio Delgado (New York),NaN,21916.0,Antonio Delgado (politician),44
NY,Jacobs,Chris,NaN,NaN,NaN,Chris Jacobs,1966-11-28,M,rep,NY,...,NaN,H0NY27090,NaN,456793,NaN,Christopher Jacobs,NaN,NaN,Chris Jacobs (politician),54
NY,Garbarino,Andrew,R.,NaN,NaN,Andrew R. Garbarino,1984-09-27,M,rep,NY,...,NaN,H0NY02234,NaN,456836,NaN,NaN,NaN,NaN,Andrew Garbarino,36
NY,Malliotakis,Nicole,NaN,NaN,NaN,Nicole Malliotakis,1980-11-11,F,rep,NY,...,NaN,H0NY11078,NaN,456837,NaN,NaN,NaN,NaN,Nicole Malliotakis,40
NY,Torres,Ritchie,John,NaN,NaN,Ritchie Torres,1988-03-12,M,rep,NY,...,NaN,H0NY15160,NaN,456838,NaN,Ritchie Torres,NaN,NaN,Ritchie Torres,33
NY,Bowman,Jamaal,NaN,NaN,NaN,Jamaal Bowman,1976-04-01,M,rep,NY,...,NaN,H0NY16143,NaN,456839,NaN,Jamaal Bowman,NaN,NaN,Jamaal Bowman,44
NY,Jones,Mondaire,NaN,NaN,NaN,Mondaire Jones,1987-05-18,M,rep,NY,...,NaN,H0NY17174,NaN,456840,NaN,Mondaire Jones,NaN,NaN,Mondaire Jones,33
NY,Tenney,Claudia,NaN,NaN,NaN,Claudia Tenney,1961-02-04,F,rep,NY,...,NaN,H4NY22051,103481.0,412720,127668.0,Claudia Tenney,NaN,21749.0,Claudia Tenney,60

Use the loc command to find all legislators from South Carolina and North Carolina

In [62]:
legislators.index = legislators['state']
legislators.loc['SC']

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id,age
state,,,,,,,,,,,,,,,,,,,,,
SC,Graham,Lindsey,O.,NaN,NaN,Lindsey Graham,1955-07-09,M,sen,SC,...,S293,"S0SC00149,H4SC03087",36782.0,300047,21992.0,Lindsey Graham,NaN,29566.0,Lindsey Graham,65
SC,Clyburn,James,E.,NaN,Jim,James E. Clyburn,1940-07-21,M,rep,SC,...,NaN,H2SC02042,21607.0,400075,27066.0,James E. Clyburn,NaN,39301.0,Jim Clyburn,80
SC,Duncan,Jeff,NaN,NaN,NaN,Jeff Duncan,1966-01-07,M,rep,SC,...,NaN,H0SC03077,62713.0,412472,47967.0,Jeff Duncan,NaN,21174.0,Jeff Duncan (politician),55
SC,Scott,Tim,NaN,NaN,NaN,Tim Scott,1965-09-19,M,sen,SC,...,S365,"H0SC01279,S4SC00240",623506.0,412471,11940.0,Tim Scott,NaN,21173.0,Tim Scott,55
SC,Wilson,Joe,G.,NaN,NaN,Joe Wilson,1947-07-31,M,rep,SC,...,NaN,H2SC02059,1002567.0,400433,3985.0,Joe Wilson,NaN,20138.0,Joe Wilson (American politician),73
SC,Rice,Tom,NaN,NaN,NaN,Tom Rice,1957-08-04,M,rep,SC,...,NaN,H2SC07066,79473.0,412572,132382.0,Tom Rice (South Carolina),NaN,21359.0,Tom Rice,63
SC,Norman,Ralph,NaN,NaN,NaN,Ralph Norman,1953-06-20,M,rep,SC,...,NaN,H8SC05158,61996.0,412738,47930.0,Ralph Norman,NaN,21753.0,Ralph Norman,67
SC,Timmons,William,R.,NaN,NaN,William R. Timmons IV,1984-04-30,M,rep,SC,...,NaN,H8SC04250,NaN,412815,168923.0,William Timmons,NaN,21974.0,William Timmons,36
SC,Mace,Nancy,Ruth,NaN,NaN,Nancy Mace,1977-12-04,F,rep,SC,...,NaN,H0SC01394,NaN,456843,NaN,Nancy Mace,NaN,NaN,Nancy Mace,43

Use the loc command to retrieve all legislators from California, Oregon and Washington and only get their full name, state, party and age

In [70]:
legislators.loc[['CA', 'OR', 'WA'],['full_name', 'state', 'party', 'age']].head()

              full_name state       party  age
state
CA     Dianne Feinstein    CA    Democrat   87
CA           Karen Bass    CA    Democrat   67
CA          Ken Calvert    CA  Republican   67
CA             Judy Chu    CA    Democrat   67
CA            Jim Costa    CA    Democrat   68

In [72]:
legislators.iloc[0:10, [[0 :5]]

SyntaxError: invalid syntax (<ipython-input-72-34515eb9d70f>, line 1)